/* CSS RESET */

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default body spacing */
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  background: #fff;
  color: #000;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove border and default appearance from inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  appearance: none;
}

/* Ensure images and videos are responsive */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Remove built-in table spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* --------------------------------------------------------------------------------------------------------- */

/* TEXT */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-weight: 800;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

p,
li,
a {
  font-size: 1.125rem;
  font-family: Inter;
}

.text-jumbotron {
  font-size: 3.5rem;
  font-weight: 700;
}

.text-1-750 {
  font-size: 1.75rem;
}

.text-1-500 {
  font-size: 1.5rem;
}

.text-1-250 {
  font-size: 1.25rem;
}

.text-1-125 {
  font-size: 1.125rem;
}

.text-1-000 {
  font-size: 1rem;
}

.text-0-875 {
  font-size: 0.875rem;
}

/* COLOURS */

.text-parc-red {
  color: #D62920;
}

.text-parc-lgrey {
  color: #aaa;
}

.text-parc-grey {
  color: #888;
}

.text-parc-dgrey {
  color: #444;
}

.text-parc-ddgrey {
  color: #222;
}

.bg-parc-dgrey {
  background-color: #444;
}

.bg-parc-ddgrey {
  background-color: #222;
}

.bg-parc-lgrey {
  background-color: #e5e5e5;
}

.bg-parc-llgrey {
  background-color: #f5f5f5;
}

.bg-parc-purple {
  background-color: #8e67c2;
}

.bg-nav {
  background-color: rgba(255, 255, 255, 0.95);
}


/* CONTAINER */

.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}


/* BUTTON */

.fa-circle-arrow-right {
  font-size: 1.375em;
  opacity: 0%;
  transition: opacity 0.4s ease;
}

.button {
  min-width: 300px;
  max-width: 480px;
}

.button-link {
  background-color: #D62920;
  color: #fff;
  height: 60px;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  font-family: Inter;
  font-size: 1.375rem;
  font-weight: 700;
  border-top-left-radius: 84px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 84px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  transition: gap 0.4s ease;
  text-decoration: none;
}

.button-link:hover {
  background-color: #ED2D24;
  gap: 40%;
}

.button-link:hover .fa-circle-arrow-right {
  opacity: 100%;
}


/* SCROLL TO TOP BUTTON */

#scrollTopBtn {
  position: fixed;
  bottom: 36px;
  right: 36px;
  width: 60px;
  height: 60px;
  z-index: 100;
  border: none;
  background-color: rgba(0, 0, 0, 0.36);
  color: white;
  padding: 12px 16px;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  /* Hidden by default */
  transition: opacity 0.3s;
}

#scrollTopBtn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}


/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.25rem;
}

.nav-links a {
  color: #222;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.125rem;
}

.nav-links a:hover {
  color: #ED2D24;
  background-color: #fafafa;
}

.nav-links a.selected {
  color: #ED2D24;
}

.navigation-desktop {
  display: block;
}

.navigation-mobile {
  display: none;
}

/* Fullscreen Menu Overlay */
.menu-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  /* Hidden off-screen */
  width: 100%;
  height: 100%;
  background: #D62920;
  color: #fff;
  display: block;
  justify-content: center;
  align-items: center;
  transition: right 0.4s ease;
  z-index: 2000;
}

.menu-overlay.active {
  right: 0;
  /* Slides into view */
}

.menu-overlay ul {
  list-style: none;
  padding: 0;
  text-align: center;
  font-weight: 700;
}

.menu-overlay ul li {
  margin: 0px;
}

.menu-overlay ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.hamburger,
.close-button {
  cursor: pointer;
}

/* HEADER */

.header {
  height: 680px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 680px;
  overflow: hidden;
}

.header-contact {
  height: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  transition: transform 3s ease-out;
  /* overflow: visible; */
  overflow: hidden;
}

.overlay-img {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  opacity: .25;
  object-fit: cover;
  /* or contain */
  z-index: -1;
  pointer-events: none;
  /* makes it transparent to hover */
  transition: transform 3s ease;
  overflow: hidden;
}

.container:hover .background-img {
  transform: scale(1.1);
}

.container:hover .overlay-img {
  transform: scale(1.25);
}

.overlay-img-contact {
  position: absolute;
  top: 20px;
  left: -10%;
  width: 100%;
  height: 100%;
  opacity: .25;
  object-fit: cover;
  /* or contain */
  z-index: -1;
  pointer-events: none;
  /* makes it transparent to hover */
  transition: transform 3s ease;
  overflow: hidden;
}

.container:hover .overlay-img-contact {
  transform: scale(1.6);
}

.img-contact {
  width: 440px;
  height: 440px;
}

/* SECTION - OUR EXPERTISE */

.section-our-expertise {
  background-color: #f5f5f5;
  padding-bottom: 60px;
}

.our-expertise-card {
  width: 100%;
  background-color: #fff;
  padding-top: 48px;
  padding-bottom: 36px;
  padding-left: 96px;
  padding-right: 96px;
  border-radius: 24px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s ease;
}

.img-parc-logomark {
  transition: transform 0.4s ease;
}

.button-card {
  opacity: 0;
}

.our-expertise-card:hover {
  box-shadow: 0 0 0 4pt #ED2D24;
}

.our-expertise-card:hover .img-parc-logomark {
  transform: rotate(90deg);
}

.our-expertise-card:hover .button-card {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

.our-expertise-list {
  list-style-type: disc;
}


/* SECTION - OUR VISION & OUR MISSION */

.our-section-image {
  position: relative;
  overflow: hidden;
}

.our-icon {
  height: 84px;
}


/* SECTION - TESTIMONIALS */

.testimonial-img {
  border-radius: 12px;
  width: 270px;
}

.carousel-strip-wrapper {
  scroll-snap-type: x mandatory;
  position: relative;
  overflow: hidden;
}

.carousel-strip {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  padding-inline: calc(50% - 100px)
}

.slide {
  flex: 0 0 200px;
  min-width: 720px;
  height: 318px;
  display: flex;
  scroll-snap-align: center;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.01);
  transition: box-shadow 0.3s ease;
  font-size: 2rem;
  border-radius: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 48px;
}

.active-slide {
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.6);
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dot.active {
  background-color: #434343;
}

.carousel-fade {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 280px;
  pointer-events: none;
  /* allow clicks through */
  z-index: 2;
}

.carousel-fade-left {
  left: 0;
  background: linear-gradient(to right,
      rgba(229, 229, 229, 1) 0%,
      rgba(229, 229, 229, 0.9) 60%,
      rgba(229, 229, 229, 0) 100%);
}

.carousel-fade-right {
  right: 0;
  background: linear-gradient(to left,
      rgba(229, 229, 229, 1) 0%,
      rgba(229, 229, 229, 0.9) 60%,
      rgba(229, 229, 229, 0) 100%);
}


/* SECTION - ABOUT US */
.liliana-bio {
  min-height: 600px;
}


.about-img {
  width: 360px;
  float: left;
}

.about-text {
  width: calc(100% - 360px) !important;
  padding-left: 48px;
  clear: both;
}

.profile-img {
  border-radius: 120px 12px 120px 12px;
}

.profile-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: #fff;
  background-color: #444;
  border-radius: 8px;
  text-align: center;
  line-height: 60px;
  padding-top: 4px;
  margin-left: 2px;
}

.profile-link:hover {
  background-color: #111;
}

#toggleBtnAngie,
#toggleBtnLiliana {
  display: none;
  width: 100%;
  font-weight: 700;
  text-align: end;
  padding: 12px;
}

#toggleBtnLiliana {
  color: #D62920;
}

#toggleBtnAngie {
  color: #FBD5D3;
}

/* SECTION - CONTACT US */
.contact-us-para {
  display: block;
  width: 440px;
}

.contact-us-para-mobile {
  display: none;
  width: 300px;
}

.contact-link:hover {
  color: #ED2D24;
}

/* SECTION - LINKEDIN AD */
.section-linkedin-ad {
  height: 360px;
  display: flex;
  align-items: flex-end;
}

/* FOOTER */

.section-footer {
  margin: auto;
  padding-top: 24px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: inline-block;
}

.footer-links {
  list-style: none;
  display: flex;
}

.footer-links a {
  text-decoration: none;
  font-size: 1rem;
}

.footer-links a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.05);
}

.section-copyright {
  border-top: 1px solid #666;
}

.fa-linkedin-in-footer {
  padding: 10px 10px;
  font-size: 18px;
  background-color: #aaa;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
}

.fa-linkedin-in-footer:hover {
  background-color: #fff;
}

/* --------------------------------------------------------------------------------------------------------- */

/* Media queries */

@media (max-width: 1200px) {

  /* footer */

  .footer-links {
    display: block;
  }

  .footer-links li {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .section-footer {
    padding-top: 4px;
    padding-bottom: 24px;
  }

  /* testimonials */
  .carousel-fade {
    width: 160px;
  }
}

@media (max-width: 992px) {

  /* testimonials */
  .carousel-fade {
    width: 96px;
  }

  /* about us */
  .about-img {
    float: none;
  }

  .about-text {
    width: 100% !important;
    padding-left: 0px;
    padding-top: 36px;
  }
  
  /* footer */

  .section-footer {
    display: block;
  }

  .footer-logo {
    display: block;
    margin: auto;
    padding-top: 12px;
  }

  .footer-links {
    padding-top: 36px;
    padding-left: 0px;
    padding-bottom: 12px;
    text-align: center;
  }

  .footer-links li {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .link-linkedin {
    display: flex;
    justify-content: center;
    padding: 12px;
  }

  .fa-linkedin-in-footer {
    padding: 12px 10px 10px;
    font-size: 24px;
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 768px) {

  /* navbar */

  .navigation-desktop {
    display: none;
  }

  .navigation-mobile {
    display: block;
  }

  /* header */
  .overlay-img {
    display: none;
    overflow: hidden;
  }

  .text-jumbotron {
    font-size: 2.75rem;
  }

  .header,
  .header-image {
    height: 560px;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  /* our expertise */
  .our-expertise-card {
    padding-left: 48px;
    padding-right: 48px;
  }

  .our-expertise-card:hover {
    box-shadow: initial;
  }

  .button-icon {
    display: none;
  }

  .button-card {
    opacity: 1;
  }

  .our-expertise-card:hover .img-parc-logomark {
    transform: none;
  }

  .our-expertise-card:hover .button-card {
    transition: none;
    opacity: initial;
  }

  .button,
  .button-link,
  .button-card {
    min-width: 100% !important;
    max-width: 100% !important;
    ;
  }

  .button-link {
    padding-left: 0;
    padding-right: 0;
  }

  /* testimonials */
  .carousel-fade {
    width: 0px;
  }

  /* about us */
  .about-img {
    width: 100%;
  }
}

@media (max-width: 576px) {

  /* our expertise */
  .our-expertise-card {
    padding-left: 36px;
    padding-right: 36px;
  }

  /* our vision & our mission */
  .our-icon {
    height: 76px;
  }

  .header-contact {
    height: 300px;
  }

  /* testimonials */
  #paginationDots {
    display: none !important;
  }

  .slide {
    display: block;
    min-width: 310px;
    width: 310px;
    height: 600px;
    scroll-snap-align: center;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.01);
    transition: box-shadow 0.3s ease;
    font-size: 2rem;
    border-radius: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* about us */
  .profile-img {
    width: 100%;
  }

  .text-more {
    display: none;
  }

  #toggleBtnAngie,
  #toggleBtnLiliana {
    display: inline-block;
  }

  /* contact */
  .contact-us-para {
    display: none;
  }

  .contact-us-para-mobile {
    display: block;
  }
}