/* CSS RESET */

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default body spacing */
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  background: #fff;
  color: #000;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove border and default appearance from inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  appearance: none;
}

/* Ensure images and videos are responsive */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Remove built-in table spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}


/* CUSTOM CSS */

h1 {

}

h2 {
  font-size: 3rem;
  font-weight: 800;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}


/* Button */

button {
  background-color: #bbb;
  height: 60px;
  padding-left: 36px;
  padding-right: 36px;
}

/* Header */

.header {
  background-color: #ddd;
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-bar {
  width: 1200px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Jumbotron */

.jumbotron {
  background-color: #eee;
  height: 640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbotron-content {
  width: 1200px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
  align-items: center;
}

.jumbotron-para {
  width: 50%;
  display: inline-block;
  text-align: left;
}




/* Section - Our Expertise */

.section-our-expertise {
  background-color: #ddd;
  height: 1200px;
}

.section-our-misson {
  background-color: #eee;
  height: 600px;
}

.section-testimonials {
  background-color: #ddd;
  height: 600px;
}

.footer {
  background-color: #ccc;
  height: 600px;
}